# https://www.atlassian.com/git/tutorials/saving-changes/gitignore
*
.vim_bookmarks
!.gitignore
!.gitconfig
!.ideavimrc
!.zshenv
!.zshrc
!.p10k.zsh
!.vimrc
!.tmux.conf
!.tmux.conf.local
!.npmrc

!zdots/
!zdots/INSTALL.md
!zdots/*.sh
!zdots/*.exp
!zdots/bin/
!zdots/sh/
!zdots/sh/*
!zdots/gits/
!zdots/gits/gitconfig.include
!zdots/gits/*.sh

!zdots/rime/
!zdots/rime/*.yaml
!zdots/rime/*.md

!.config/
!.config/starship.toml
!.config/bat/
!.config/bat/config
!.config/ghostty/
!.config/ghostty/config
!.config/pip/
!.config/pip/pip.conf
!.config/ranger/
!.config/ranger/rc.conf
!.config/ranger/commands.py
!.config/ranger/README.md
!.config/tmux-powerline
!.config/tmux-powerline/*
!.config/tmux-powerline/themes/*
!.config/tmux-powerline/segments/*
!.config/nvim/
!.config/nvim/init.lua
!.config/nvim/lua/
!.config/nvim/lua/*
!.config/nvim/lua/config/
!.config/nvim/lua/config/*
!.config/nvim/lua/config/func
!.config/nvim/lua/config/func/*
!.config/nvim/lua/plugins/
!.config/nvim/lua/plugins/*
!.config/nvim/lua/util/
!.config/nvim/lua/util/*
