*
.vim_bookmarks
!.gitignore
!.gitconfig
!.ideavimrc
!.zshenv
!.zshrc
!.vimrc
!.tmux.conf
!.tmux.conf.local

!zdots/
!zdots/INSTALL.md
!zdots/*.sh
!zdots/*.exp
!zdots/bin/
!zdots/sh/
!zdots/sh/*
!zdots/gits/
!zdots/gits/gitconfig.include
!zdots/gits/*.sh

!zdots/rime/
!zdots/rime/*.yaml
!zdots/rime/*.md

!zdots/tmux/
!zdots/tmux/tmux.conf
!zdots/tmux/tmux.conf.local

!zdots/dotvim/
!zdots/dotvim/*
!zdots/dotvim/vim/
!zdots/dotvim/vim/*

!.config/
!.config/bat/
!.config/bat/config
!.config/pip/
!.config/pip/pip.conf
!.config/ranger/
!.config/ranger/rc.conf
!.config/ranger/commands.py
