*
!.tmux.conf
!.tmux-powerlinerc
!.gitignore
!.vimrc
!.zshrc

!w7udots/
!w7udots/*.sh
!w7udots/*.exp
!w7udots/ycm_extra_conf.py
!w7udots/gitconfig.include
!w7udots/wg.zsh-theme
!w7udots/wg_gbk.zsh-theme

!w7udots/ssh-helper/
!w7udots/ssh-helper/*.sh
!w7udots/ssh-helper/*.exp
