" https://github.com/beloglazov/vimrc/blob/master/.ideavimrc
set nu
set ignorecase
set hlsearch
set incsearch
set keep-english-in-normal
set keep-english-in-normal-and-restore-in-insert

nmap <space>fs :action FileStructurePopup<CR>
nmap ga :action GotoAction<CR>
nmap gc :action GotoClass<CR>
nmap gi :action GotoImplementation<CR>
nmap gu :action FindUsages<CR>

let g:mapleader=" "
imap jj <ESC>
nmap / :action Find<CR>
nmap Y y$
nnoremap ¬ 11l
nnoremap ˚ 11k
nnoremap ∆ 15j
nnoremap ˙ 15h
